:root {
    --font-size: 16px;
}

h1 {
    text-align: center;
    font-size: calc(calc(var(--font-size) * 2) + 24px);
}

p {
    font-size: calc(var(--font-size) * 1.2);
}

a {
    background-color: antiquewhite;
    height: 25px;
    text-align: center;
    border: 1px solid black;
    margin: 5px;
}

a:visited {
    color: fuchsia;
}

.navigation {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.navigation a {
    font-size: 120%;
    flex: 1 200px;
}

@media (min-width: 769px) and (max-width: 992px) {
    .navigation a {
        color: green;
        flex: 1 350px;
    }
}

@media (max-width: 768px) {
    .navigation a {
        color: black;
        flex: 100%;
    }
}
