:root {
    --text-size: 16px;
}

h1 {
    text-align: center;
    font-size: calc(calc(var(--text-size) * 2) + 22px);
}

#back-link {
    font-family: cursive;
}

h2 {
    text-align: center;
}

table,
tr,
th,
td {
    border: solid 2px black;
    border-collapse: collapse;
    padding: 3px;
}

#table-head {
    text-align: center;
    background-color: green;
    color: red;
    font-weight: 700;
}

table tr {
    text-align: center;
}

table tr:not(:first-child):nth-child(odd) {
    color: white;
    background-color: gray;
}

table tr:not(:first-child):nth-child(even) {
    color: black;
    background-color: white;
}

table tr > td:nth-last-child(-n+1) {
    text-align: end;
}

@media (min-width: 993px) {
    table tr:first-child {
        font-size: 130%;
    }

    table tr:not(:first-child) {
        font-size: 120%;

    }
}

@media (min-width: 769px) and (max-width: 992px) {
    table tr:first-child {
        font-size: 120%;
    }

    table tr:not(:first-child) {
        font-size: 110%;
    }
}

@media (max-width: 768px) {
    table tr:first-child {
        font-size: 110%;
    }
}
